:root{
    --bg-color:#E4D0C2;
    --white:#fff;
    --white-5:rgba(255,255,255,.5);
    --bkack:#000;
    --green:#2E6314;
    --font1:'Chronicle Display', sans-serif;
    --font2:'Gilroy-Regular', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--bg-color);
    overflow-x: hidden;
}
/* 배경 */
/* .bg-img1{
    position: absolute;
    left: 0; top: 0;
    width: 1920px;
    z-index: -1;
}
.bg-img2{
    position: absolute;
    left: 0; top: 464px;
    width: 1920px;
    z-index: -1;
}
.bg-img3{
    position: absolute;
    left: 0; top: 768px;
    width: 1920px;
    z-index: -1;
} */
#swiper {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 200px;
    margin-bottom: 250px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #swiper .swiper-button-next, #swiper .swiper-button-prev{
    color: white;
  }
  #swiper .swiper-pagination-bullet-active{
    background: white;
  }
/* 헤더 */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 80px;
    right: 80px;
    top: 64px;
    z-index: 10;
}
.logo{
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.01em;
    font-family: var(--font1);
    color: var(--white);
}
.gnb{
    display: flex;
    gap: 40px;
}
.gnb a{
    font-weight: 700;
    color: var(--white);
    font-size: 18px;
    line-height: 22px;
}
.btn-account{
    display: flex;
    align-items: center;
    font-size: 17px;
    line-height: 21px;
    font-weight: 700;
    color: var(--white);
}
.btn-account::before{
    content: '';
    background: url(../images/ico_member.svg);
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
/* visual */
.visual{
	/* position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 20; */
	height: 100vh;
}

.sns{
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: fixed;
    left: 80px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}
.sns-title{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 18px;
    line-height: 22px;
    color: var(--white);
    
}
.btn-insta{
    width: 24px;
    height: 24px;
    background: url(../images/ico_instagram.svg) no-repeat;
}
.btn-twitter{
    width: 24px;
    height: 24px;
    background: url(../images/ico_twitter.svg) no-repeat;
}
.quick{
    position: fixed;
    right: 80px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}
.quick a{
    display: block;
    text-align: right;
    padding-right: 32px;
    font-size: 18px;
    line-height: 60px;
    color: var(--white);
    border-right: 3px solid var(--white-5);
}
.quick a.active{
    border-color: var(--white);
}
.visual_copy{
    display: grid;
    gap: 32px;
    position: absolute;
    left: 50%;
    top: 287px;
    transform: translateX(-50%);
}
.subtitle{
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: var(--green);
}
.subtitle::before{
    content: "";
    width: 72px;
    height: 2px;
    background: var(--green);
}
.visual_copy .maintitle{
    font-size: 5vw;
    line-height: 100px;
    font-weight: 600;
    letter-spacing: 6px;
    color: var(--white);
    font-family: var(--font1);
}
.visual_copy .txt-guide{
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: var(--white);
}
.visual_copy .txt-guide::after{
    content: "";
    width: 16px;
    height: 24px;
    margin-left: 16px;
    background: url(../images/ico_arrow_down.svg) no-repeat;
}
.dimmed{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(330.24deg,rgba(11,29,38,0) 31.06%, #0B1D26 108.93%);
}
.graident-content{
    height: 700px;
    /* background: linear-gradient(180deg,rgba(11,29,38,0) 0%, #0B1D26 61.38%); */
}
.index-contents{
    display: grid;
    gap: 200px;
    margin: 0 auto;
    width: 75%;
}
@media screen and (max-width:1200px) {
    .swiper-button-next:after, .swiper-button-prev:after{
        font-size: 30px !important;
    }
}

@media screen and (max-width:768px) {
    .quick, .sns{
        display: none;
    }
    .visual_copy .maintitle{
        line-height: 70px;
    }
    #swiper{
        width: 80%;
        margin-top: 60px;
        margin-bottom: 180px;
    }
    .swiper-button-prev, .swiper-button-next{
        display: none !important;
    }
}

/* 콘텐츠 */

.block{
    display: flex;
    gap: 114px;
    position: relative;

}
.block:nth-of-type(even){
    flex-direction: row-reverse;
}
.block:nth-of-type(even) .block_conut{
    /* left: 720px; */
}
.block div{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 27px;
}
.block img{
    width: 556px;
    max-width: 100%;
    height: auto;
}
.block .subtitle{
    order: 1;
}
.block_title{
    order: 2;
    font-size: 64px;
    line-height: 77px;
    font-weight: 200;
    font-family: var(--font1);
    color: var(--white);
}
.block_content{
    order: 3;
    font-size: 18px;
    line-height: 32px;
    color: var(--white);
}
.block_more{
    order: 4;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 18px;
    line-height: 22px;
    color: var(--green);
}
.block_more::after{
    content: '';
    width: 24px;
    height: 16px;
    background: url(../images/ico_arrow_right.svg) no-repeat 0 0 / contain;
}
.block_conut{
    position: absolute;
    left: 0;
    top: 38px;
    font-weight: 700;
    font-size: 240px;
    line-height: 1;
    color: #AA8877;
    letter-spacing: -4px;
    z-index: -1;
}
@media screen and (max-width:1200px) {
    .subtitle{
        font-size: 15px;
    }
    .block_conut{
        font-size: 160px;
    }
    .block_more{
        font-size: 15px;
    }
    .block_title {
        font-size: 35px;
        line-height: 50px;
    }
    .block_content{
        font-size: 15px;
    }
}
@media screen and (max-width:904px) {
    .block_textbox{
        padding: 0 35px;
    }
    .block{
        flex-direction: column;
        gap: 70px;
    }
    .block:nth-of-type(even){
        flex-direction: column;
    }
    .block_img{
        flex-direction: column;
        align-items: center;
    }
    .block img{
        width: 60%;
    }
    .block_title{
        line-height: 60px;
    }
}

/* 푸터 */
.footer {
    margin: 200px auto 120px;
    width: 1462px;
    display: flex;
    justify-content: space-between;
}
.footer_left{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(24px, auto) 1fr minmax(32px,auto);
}
.footer_txt{
    font-size: 18px;
    line-height: 32px;
    color: var(--white);
}
.footer_copy{
    font-size: 18px;
    line-height: 32px;
    color: rgba(255,255,255,.3);
}
.footer_right{
    display: flex;
    gap: 212px;
}
.footer_nav h2{
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: var(--green);
    padding: 0 0 8px;
}
.footer_nav li{
    padding: 16px 0 0;
}
.footer_nav a{
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    color: var(--white);
}